body {
    padding :0;
    margin: 0;
}
/** head*/
.mld-head{
    background-image: url(../img/bg-head.jpg);
    background-size: cover;
    height: 90vh;
    
}

/** nav*/


.mld-nav{
    
    font-family: 'Special Elite', cursive;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mld-nav a {
    font-size: 30px;
    color:#ffffff;
  
}
/* catalogue*/
.mld-body{
    font-family: 'Special Elite', cursive;
    background-color: #1b1b1b;
    
}
.mld-titre{
    font-size: 5em;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #ffffff;
}
.mld-div-card{
   
    text-align: center;
    display:flex;
    justify-content: center;
}
.mld-pos-card{
    
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.gneu{
    height:25px;
}
.mld-card{
    
    color: #000000;
    margin:0;
    padding :0;
    background-image: url(../img/bg-ground-card.png);
    background-position: center;
    background-size: cover;
}

.mld-card-img{
    border-radius: 10px;
    padding :10px;
    display:flex;
    justify-content: center;
    width: 100%;
    width: 250px;

    color: #ffffff;
}

.mld-card-a {
    width: 80px;
    height: 35px;
    border:solid #1b1b1b;
    border-radius: 6px;
    color: #000000;
    background-image: url(../img/bg-ground-card.png);
    background-position: center;
}